/* reset css */
html, body, div, span, applet, object, iframe,  
h1, h2, h3, h4, h5, h6, p, blockquote, pre,  
a, abbr, acronym, address, big, cite, code,  
del, dfn, em, img, ins, kbd, q, s, samp,  
small, strike, strong, sub, sup, tt, var,  
b, u, i, center,  
dl, dt, dd, ol, ul, li,  
fieldset, form, label, legend,  
table, caption, tbody, tfoot, thead, tr, th, td,  
article, aside, canvas, details, embed,  
figure, figcaption, footer, header, hgroup,  
menu, nav, output, ruby, section, summary,  
time, mark, audio, video {  
margin: 0;  
padding: 0;  
border: 0;  
font-size: 100%;  
font: inherit;  
vertical-align: baseline;  
}
/* HTML5 display-role reset */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

* {
  box-sizing: border-box;
}

body {
  margin: 3%; 
}

header{
  letter-spacing: 1px; 
  margin-bottom: 15px; 
  font-family: 'Bangers', cursive;
  font-size: 150%;
}

a {
  text-decoration: none; 
}

button {
  padding: 10px; 
  width: 200px;
}

footer {
  text-align: center; 
}

.split_bar {
  margin: 3%; 
}

.nav-bar {
/*   border: 2px solid red; */
  margin: 3%; 
  font-family: 'Titillium Web', sans-serif;
  font-size: 100%; 
}

.nav-bar a {
/*   border: 2px solid green; */
  color: darkgray; 
  display: inline-block;
  vertical-align: top;
  padding: 2%;
  width: 14%;
  text-align: left; 
}

.nav-bar img { 
  margin: 1%;
  width: 12%;
  height: 70px; 
}

.intro {
/*   border: 2px solid red; */
  margin: 3%; 
}

.intro_box {
/*   border: 2px solid blue; */
  display: inline-block;
  vertical-align: middle;
  margin: 1%;
  width: 47%;
  text-align: center; 
}

.intro_box img {
  border-radius: 50%;
  width: 500px;
  height: 500px; 
}

.intro_box.text {
  text-align: center; 
  color: black; 
  font-family: 'Bangers', cursive;
  font-size: 500%; 
}

.content_1 {
/*   border: 2px solid red; */
  margin: 3%;
}

.content_1_box {
/*   border: 2px solid blue; */
  display: inline-block;
  padding: 0.5%;
  width: 47%;
  min-width: 150px;
}

.content_img {
/*   border: 2px solid red; */
  margin: 3%; 
}

.content_img img {
  width: 100%;
  height: 300px; 
  
}

.content_2 {
/*   border: 2px solid red; */
  margin: 3%;
}

.content_2_box {
/*   border: 2px solid blue; */
  display: inline-block;
  padding: 0.5%;
  width: 31%;
  min-width: 150px;
}

.contact {
  display: block; 
  margin: 3%; 
}